:root {
  --background-color: #101014;
  --secondary-color: #1b1a1d;
  --text-color: #ffff;
  --translucent-color: #ffffff25;
  --transluncet-text-color: #ffffffce;
  --font: "Poppins";
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--font);
}

aside {
  height: 100%;
  position: fixed;
  width: 30%;
  top: 0;
  left: 0;
  border-right: 2px var(--translucent-color) solid;
  margin-top: 2rem;
  margin-left: 2rem;
  margin-right: 10rem;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
}

main {
  margin-top: 2rem;
  margin-left: 33%;
}

h3 {
  font-family: var(--font);
  display: inline;
  font-weight: 300;
  color: var(--transluncet-text-color);
  font-size: 1.5rem;
}
img {
  width: 7.5rem;
  height: 7.5rem;
  margin-top: 10px;
  display: block;
}

.weather-description {
  display: flex;
  justify-content: space-between;
}

h1#temp {
  display: inline;
  font-size: 3.5rem;
}
h2#condition-text {
  display: inline;
  margin: 2rem;
  font-weight: 350;
}
hr {
  margin-top: 2rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
  color: var(--translucent-color);
}

.hourly-forecast {
  padding: 1rem;
  background-color: var(--secondary-color);
  border-radius: 20px;
  margin-right: 2rem;
  height: 26rem;
  align-items: center;
}
.graph-container {
  width: 100%;
  background-color: white;
  border-radius: 20px;
  margin-bottom: 1rem;
}

.daily-temps-container {
  display: flex;
  justify-content: space-between;
}

.daily-temp-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h4 {
  display: inline;
  margin: 1rem;
}

.search-btn {
  margin-top: 3rem;
  width: 94%;
  height: 5rem;
  color: white;
  background-color: #bf8000;
  border: none;
  border-radius: 20px;
}

.days-forecast-container {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  margin-right: 10rem;
}
.day-forecast-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem;
  border-radius: 20px;
  background-color: var(--secondary-color);
  margin-right: .85rem;
}

.day-forecast-card  p{
  font-size: 1.2rem;
}

.weekly-icon {
  width: 5rem;
  height: 5rem;
  margin: 1rem 0;
}

main h2 {
  font-size: 2rem;
  font-weight: 400;
  margin-top: .7rem;
}

/* .wind-status-container {

} */

.overview-container {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: var(--secondary-color);
  padding-top: 1rem;
  padding-left: 1.5rem;
  border-radius: 20px;
  width: 20rem;
  height: 15rem;
}

#wind-speed {
  position: absolute;
  bottom: 1rem;
}

#degree-dir {
  font-size: 4rem;
}

.today-overview-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.today-overview {
  margin: 1rem 0;
}

#uv-index {
  position: absolute;
  right: 47%;
  bottom: 1rem;
}